<section class="content-main">
  <div class="content-header">
    <div>
      <h2 class="content-title card-title">Books</h2>
    </div>
    <div>
      <a href="/admin/books/add-book" class="btn btn-secondary btn-md rounded">Add Book</a>
    </div>
  </div>

  <header class="card card-body mb-4">
    <div class="row gx-3">
      <div class="col-lg-4 col-md-6 me-auto">
        <input type="text" placeholder="Search by title, author..." class="form-control">
      </div>
      <div class="col-lg-2 col-6 col-md-3">
        <select class="form-select">
          <option>All categories</option>
          <% if (categories) { %>
          <% categories.forEach(category => { %>
          <option value="<%= category.name %>"><%= category.name %></option>
          <% }) %>
          <% } %>
        </select>
      </div>
      <div class="col-lg-2 col-6 col-md-3">
        <select class="form-select">
          <option>Recently added</option>
          <option>Price Low to High</option>
          <option>Price High to Low</option>
        </select>
      </div>
    </div>
  </header>

  <div class="row">
    <!-- book -->
    <% if (books) { %>
    <% books.forEach(book => { %>
    <div class="col-xl-auto col-lg-4 col-md-6">
      <div class="card card-product-grid">
        <a href="/admin/books/<%= book.bookSlug %>" class="img-wrap">
          <img src="<%= book.coverImageUrls[0] %>" style="max-width: 125px; object-fit: cover;" alt="Book Cover">
        </a>
        <div class="info-wrap">
          <div class="title mt-1 h6"><%= book.title %></div>
          <div class="author mt-1"><%= book.author %></div>
          <div class="price mt-1">₹ <%= book.price %></div>
        </div>
      </div>
    </div>
    <% }) %>
    <% } else { %>
    <h3>No books found</h3>
    <% } %>
  </div>

  <div class="pagination-area mt-15 mb-50">
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-start">
        <li class="page-item active">
          <a class="page-link" href="#">01</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">02</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">03</a>
        </li>
        <li class="page-item">
          <a class="page-link dot" href="#">...</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">16</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#"><i class="material-icons md-chevron_right"></i></a>
        </li>
      </ul>
    </nav>
  </div>
</section>
