<section class="content-main">
  <div class="content-header">
    <div>
      <h2 class="content-title card-title">Order List</h2>
    </div>
    <div>
      <input type="text" placeholder="Search order ID" class="form-control bg-white" />
    </div>
  </div>
  <div class="card mb-4">
    <header class="card-header">
      <div class="row gx-3">
        <div class="col-lg-4 col-md-6 me-auto">
          <input type="text" placeholder="Search..." class="form-control" />
        </div>
        <div class="col-lg-2 col-6 col-md-3">
          <select id="statusFilter" class="form-select">
            <option value="">All Status</option>
            <% Object.values(ORDER_STATUSES).forEach(({ id, status })=> { %>
              <option value="<%= id %>">
                <%= status %>
              </option>
              <% }) %>
          </select>
        </div>
        <div class="col-lg-2 col-6 col-md-3">
          <input type="date" id="dateFilter" class="form-control" />
        </div>
      </div>
    </header>
    <!-- card-header end// -->
    <div class="card-body">
      <% if (orders.length> 0) { %>
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>#ID</th>
                <th scope="col">Name</th>
                <th scope="col">Total</th>
                <th scope="col">Status</th>
                <th scope="col">Date</th>
                <th scope="col" class="text-end">Action</th>
              </tr>
            </thead>
            <tbody>
              <% orders.forEach(order=> { %>
                <tr>
                  <td>#<%= String(order._id).toUpperCase() %>
                  </td>
                  <td><b>
                      <%= order.address.name %>
                    </b></td>
                  <td>₹ <%= order.totalPrice %>
                  </td>
                  <td>
                    <span class="badge rounded-pill alert-warning">
                      <%= order.orderStatus.status %>
                    </span>
                  </td>
                  <td>
                    <%= formatDate(order.createdAt).monthYear %>
                  </td>
                  <td class="text-end">
                    <a href="/admin/order-details/<%= order._id %>" class="btn btn-md rounded font-sm">View
                      Order</a>
                  </td>
                </tr>
                <% }) %>
            </tbody>
          </table>
        </div>
        <!-- table-responsive //end -->
        <% } else { %>
          <div class="text-center p-5">
            <h5>No orders found.</h5>
          </div>
          <% } %>

    </div>
    <!-- card-body end// -->
  </div>
  <!-- card end// -->
</section>

<script defer type="module" src="/admin/js/utils/admin-orders-list.js"></script>
