<section class="content-main">
  <div class="content-header">
    <div>
      <h2 class="content-title card-title">Order Detail</h2>
    </div>
  </div>
  <div class="card">
    <header class="card-header">
      <div class="row align-items-center">
        <div class="col-lg-6 col-md-6 mb-lg-0 mb-15">
          <span>
            <i class="material-icons md-calendar_today"></i>
            <b>
              <%= formatDate(order.createdAt).fullDate %>
            </b>
          </span>
          <br />
          <small class="text-muted">Order ID: <%= String(order._id).toUpperCase() %></small>
        </div>
        <div class="col-lg-6 col-md-6 ms-auto text-md-end">
          <select id="orderStatus" name="orderStatus" class="form-select d-inline-block mb-lg-0 mb-15 mw-200">
            <% Object.values(ORDER_STATUSES).forEach(status=> { %>
              <% if (status.id>= order.orderStatus.id) { %>
                <option value="<%= status.id %>" <%=order.orderStatus.id===status.id ? "selected" : "" %>>
                  <%= status.status %>
                </option>
                <% } %>
                  <% }); %>
          </select>
          <button class="btn btn-primary" id="updateOrderStatus" data-bs-orderId="<%= order._id %>">Update</button>
          <button class="btn btn-secondary print ms-2" href="#">
            <i class="icon material-icons md-print"></i>
          </button>
        </div>
      </div>
    </header>
    <!-- card-header end// -->
    <div class="card-body">
      <div class="row mb-50 mt-20 order-info-wrap">
        <div class="col-md-4">
          <article class="icontext align-items-start">
            <span class="icon icon-sm rounded-circle bg-primary-light">
              <i class="text-primary material-icons md-person"></i>
            </span>
            <div class="text">
              <h6 class="mb-1">Customer</h6>
              <p class="mb-1">
                <%= order.address.name %> <br />
                  <%= order.address.phone %>
              </p>
              <a href="#">View profile</a>
            </div>
          </article>
        </div>
        <!-- col// -->
        <div class="col-md-4">
          <article class="icontext align-items-start">
            <span class="icon icon-sm rounded-circle bg-primary-light">
              <i class="text-primary material-icons md-local_shipping"></i>
            </span>
            <div class="text">
              <h6 class="mb-1">Order Info</h6>
              <p class="mb-1">
                Shipping: Fargo Express <br />
                Payment Method: <%= order.paymentMethod.method %> <br />
                  Status: <%= order.orderStatus.status %>
              </p>
              <a href="#">Download info</a>
            </div>
          </article>
        </div>
        <!-- col// -->
        <div class="col-md-4">
          <article class="icontext align-items-start">
            <span class="icon icon-sm rounded-circle bg-primary-light">
              <i class="text-primary material-icons md-place"></i>
            </span>
            <div class="text">
              <h6 class="mb-1">Deliver To</h6>
              <p class="mb-1">
                <%= order.address.street %>,
                  <%= order.address.locality %>,<br />
                    <%= order.address.city %>, <%= order.address.state %> <br />
                        - <strong>
                          <%= order.address.pincode %>
                        </strong>
              </p>
              <a href="#">View profile</a>
            </div>
          </article>
        </div>
        <!-- col// -->
      </div>
      <!-- row // -->
      <div class="row">
        <div class="col-lg-7">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th width="60%">Book Title</th>
                  <th width="15%">Price</th>
                  <th width="15%">Quantity</th>
                  <th width="10%" class="text-center">Total</th>
                </tr>
              </thead>
              <tbody>
                <% order.items.forEach(item=> { %>
                  <tr>
                    <td>
                      <a class="itemside" href="#">
                        <div class="left">
                          <img src="<%= item.coverImageUrl %>" width="40" height="80" class="img-xs"
                            alt="<%= item.title %>" />
                        </div>
                        <div class="info">
                          <%= item.title %>
                        </div>
                      </a>
                    </td>
                    <td>₹ <%= item.price %>
                    </td>
                    <td class="text-center">
                      <%= item.quantity %>
                    </td>
                    <% const total=item.price * item.quantity %>
                      <td class="text-center">₹ <%= total %>
                      </td>
                  </tr>
                  <% }) %>
                    <tr>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td class="border-top text-center">₹ <%= order.totalPrice %>
                      </td>
                    </tr>
              </tbody>
            </table>
          </div>
          <!-- table-responsive// -->
        </div>
        <!-- col// -->
        <div class="col-lg-1"></div>
        <div class="col-lg-4">
          <div class="box shadow-sm bg-light">
            <h6 class="mb-15">Payment Info</h6>
            <p>
              <img src="/admin/imgs/card-brands/2.png" class="border" height="20" />
              Master Card **** **** 4768 <br />
              Business name: Grand Market LLC <br />
              Phone: +1 (800) 555-154-52
            </p>
          </div>
          <!-- Notes -->
          <!-- <div class="h-25 pt-4">
            <div class="mb-3">
              <label>Notes</label>
              <textarea class="form-control" name="notes" id="notes" placeholder="Type some note"></textarea>
            </div>
            <button class="btn btn-primary">Save Note</button>
          </div> -->
        </div>
        <!-- col// -->
      </div>
    </div>
    <!-- card-body end// -->
  </div>
  <!-- card end// -->
</section>

<script defer type="module" src="/admin/js/utils/admin-order-details.js"></script>
