<main class="main">
  <div class="page-header breadcrumb-wrap">
    <div class="container">
      <div class="breadcrumb">
        <a href="/" rel="nofollow">Home</a>
        <span></span> Store
        <span></span> Readlist
      </div>
    </div>
  </div>
  <section class="mt-50 mb-50">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="table-responsive">
            <% if (books && books.length> 0) { %>
              <table class="table shopping-summery text-center">
                <thead>
                  <tr class="main-heading">
                    <th scope="col" colspan="2">Product</th>
                    <th scope="col">Price</th>
                    <th scope="col">Stock Status</th>
                    <th scope="col">Action</th>
                    <th scope="col">Remove</th>
                  </tr>
                </thead>
                <tbody>
                  <% books.forEach(book=> { %>
                    <tr id="table-row">
                      <td class="image product-thumbnail">
                        <img src="<%= book.coverImageUrls[0] %>" alt="<%= book.title %>" />
                      </td>
                      <td class="product-des product-name">
                        <h5 class="product-name">
                          <a href="/book-details/<%= book.bookSlug %>">
                            <%= book.title %>
                          </a>
                        </h5>
                        <p class="font-xs">
                          <%= book.author %>
                        </p>
                      </td>
                      <td class="price" data-title="Price">
                        <span>₹ <%= book.price %> </span>
                      </td>
                      <td class="text-center" data-title="Stock">
                        <span class="color3 font-weight-bold">
                          <%= book?.quantity> 0 ? 'In Stock' : 'Out of Stock' %>
                        </span>
                      </td>
                      <td class="text-right" data-title="Cart">
                        <input type="hidden" id="bookId" value="<%= book._id %>">
                        <% const bookExistsInCart=cart?.books?.map(book=>
                          book.bookId.toString()).includes((book._id.toString()));
                          %>

                          <!-- Add to Cart Button -->
                          <button class="btn btn-sm button-add-to-cart" <%=book.quantity> 0 ? '' : 'disabled' %> <%=
                              bookExistsInCart ? 'hidden' : '' %>>
                              <i class="fi-rs-shopping-bag mr-5"></i>Add to cart
                          </button>

                          <!-- Go to Cart Button -->
                          <button class="btn btn-sm button-go-to-cart" <%=bookExistsInCart ? '' : 'hidden' %>>
                            <i class="fi-rs-shopping-bag mr-5 "></i>Go to cart
                          </button>
                      </td>
                      <td class="action readlistAction" data-book-id="<%= book._id %>" data-title="Remove">
                        <a><i class="fi-rs-trash"></i></a>
                      </td>
                    </tr>
                    <% }) %>
                </tbody>
              </table>
              <% } %>
          </div>
          <div class="text-center py-5 empty-readlist" <%=books && books?.length> 0 ? 'hidden' : '' %>>
            <div class="alert alert-warning d-inline-block w-auto px-4 py-3">
              <h5 class="mb-3">
                <i class="fi-rs-shopping-cart text-warning"></i> No Books Found
              </h5>
              <p class="mb-4 text-secondary">
                Your list is currently empty. Browse our collection to find your next read!
              </p>
              <a href="/book-store" class="btn btn-primary">
                Browse Books
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

<script type="module" src="/user/js/utils/user-readlist.js"></script>
