<main class="main" style="transform: none">
  <div class="page-header breadcrumb-wrap">
    <div class="container">
      <div class="breadcrumb">
        <a href="/" rel="nofollow">Home</a>
        <span></span> Book Store
      </div>
    </div>
  </div>
  <section class="mt-50 mb-50" style="transform: none">
    <div class="container" style="transform: none">
      <div class="row flex-row-reverse" style="transform: none">
        <div class="col-lg-9">
          <div class="shop-product-fillter">
            <div class="totall-product">
              <p>
                We found
                <strong class="text-brand">
                  <%= books ? books.length : 0 %>
                </strong>
                items for you!
              </p>
            </div>

            <!-- Sort By Section -->
            <div class="sort-by-product-area">
              <div class="sort-by-cover">
                <div class="sort-by-product-wrap">
                  <div class="sort-by">
                    <span><i class="fi-rs-apps-sort"></i>
                      Sort by:
                    </span>
                  </div>
                  <div class="sort-by-dropdown-wrap">
                    <span id="selected-sort-option">
                      <i class="fi-rs-angle-small-down"></i></span>
                  </div>
                </div>
                <div class="sort-by-dropdown">
                  <ul>
                    <li>
                      <a href="/book-store?sort=featured" data-sort-name="Featured">Featured</a>
                    </li>
                    <li>
                      <a href="/book-store?sort=titleAsc" data-sort-name="A - Z">A - Z</a>
                    </li>
                    <li>
                      <a href="/book-store?sort=titleDesc" data-sort-name="Z - A">Z - A</a>
                    </li>
                    <li>
                      <a href="/book-store?sort=priceAsc" data-sort-name="Price: Low to High">Price: Low to High</a>
                    </li>
                    <li>
                      <a href="/book-store?sort=priceDesc" data-sort-name="Price: High to Low">Price: High to Low</a>
                    </li>
                    <li><a href="/book-store?sort=releaseDate" data-sort-name="Release Date">Release Date</a></li>
                    <!-- <li><a href="/book-store?sort=rating" data-sort-name="Rating">Rating</a></li> -->
                  </ul>
                </div>
              </div>
            </div>

          </div>
          <div class="row product-grid-3">
            <% if (books) { %>
              <% books.forEach(book=> { %>
                <div class="col-lg-4 col-md-4 col-12 col-sm-6">
                  <div class="product-cart-wrap mb-30">
                    <div class="product-img-action-wrap">
                      <div class="product-img product-img-zoom">
                        <a href="/book-details/<%= book.bookSlug %>">
                          <img class="default-img lazyload" src="<%= book.coverImageUrls && book.coverImageUrls[0] %>"
                            alt="<%= book.title %>" />
                          <img class="hover-img lazyload"
                            src="<%= book.coverImageUrls[1] ? book.coverImageUrls[1] : book.coverImageUrls[0] %>"
                            alt="<%= book.title %>" />
                        </a>
                      </div>
                      <div class="product-badges product-badges-position product-badges-mrg">
                        <% if (book.featured) { %>
                          <span class="hot">Featured</span>
                          <% } %>
                      </div>
                    </div>
                    <div class="product-content-wrap">
                      <div class="product-author">
                        <a>
                          <%= book.author %>
                        </a>
                      </div>
                      <h2>
                        <a href="/book-details/<%= book.bookSlug %>">
                          <%= book.title %>
                        </a>
                      </h2>
                      <div class="product-price">
                        <span>₹ <%= book.price %> </span>
                        <!-- <span class="old-price">₹ </span> -->
                      </div>
                      <div class="product-action-1 show">
                        <a aria-label="Add To Readlist" class="action-btn hover-up button-readlist"
                          data-book-id="<%= book._id %>"><i
                            class="bi <%= readlist?.books.includes((book._id).toString()) ? 'bi-heart-fill' : 'bi-heart'  %> "></i></a>
                        <!-- <a aria-label="Add To Cart" id="addToCart" class="action-btn hover-up" href=""
                          data-book-id=""><i class="fi-rs-shopping-bag-add"></i></a> -->
                      </div>
                    </div>
                  </div>
                </div>
                <% }) %>
                  <% } %>
          </div>
          <!--pagination-->
          <div class="pagination-area mt-15 mb-sm-5 mb-lg-0">
            <nav aria-label="Page navigation example">
              <ul class="pagination justify-content-start">
                <% const queryString=new URLSearchParams(req.query); %>
                  <% if (currentPage> 1) { %>
                    <% queryString.set('page', currentPage - 1); %>
                      <li class="page-item">
                        <a class="page-link" href="?<%= queryString.toString() %>">
                          <i class="fi-rs-angle-double-small-left"></i>
                        </a>
                      </li>
                      <% } %>

                        <% for( let i=1; i <=totalPages; i++ ) { %>
                          <% queryString.set('page', i); %>
                            <li class="page-item <%= currentPage === i ? 'active' : '' %>">
                              <a class="page-link" href="?<%= queryString.toString() %>">
                                <%= i %>
                              </a>
                            </li>
                            <% } %>

                              <!-- <li class="page-item">
                  <a class="page-link dot" href="#">...</a>
                </li> -->

                              <% if (currentPage < totalPages) { %>
                                <%= queryString.set('page', currentPage + 1) %>
                                  <li class="page-item">
                                    <a class="page-link" href="?<%= queryString.toString() %>"><i
                                        class="fi-rs-angle-double-small-right"></i></a>
                                  </li>
                                  <% } %>
              </ul>
            </nav>
          </div>
        </div>
        <!-- Filter Sidebar -->
        <div class="col-lg-3 primary-sidebar sticky-sidebar" style="
            position: relative;
            overflow: visible;
            box-sizing: border-box;
            min-height: 1px;
          ">
          <!-- Filter By Price -->
          <!-- Product sidebar Widget -->
          <div class="theiaStickySidebar" style="
              padding-top: 0px;
              padding-bottom: 1px;
              position: static;
              transform: none;
            ">

            <div class="sidebar-widget filter-options mb-30">
              <div class="widget-header position-relative mb-20 pb-10 d-flex justify-content-between align-items-end">
                <h5 class="widget-title d-inline">Filter Books</h5>
                <button id="clear-filters" class="btn-clear-filters"
                  style="border: none; background-color: transparent; color: #046963">CLEAR ALL</button>
              </div>

              <!-- Filter by Categories -->
              <div class="category-filter mb-20 border-bottom">
                <!-- Parent Category Dropdown -->
                <div class="d-flex justify-content-between" data-bs-toggle="collapse"
                  data-bs-target="#category-checkbox-group" aria-expanded="false"
                  aria-controls="category-checkbox-group" style="cursor: pointer;">
                  <label class="form-label" for="category-filter">Category</label>
                  <i class="bi bi-chevron-down"></i>
                </div>

                <div id="category-checkbox-group" class="collapse">
                  <% categories.forEach(category=> { %>
                    <!-- Single Category -->
                    <div class="mb-10">
                      <!-- Category Header -->
                      <div class="d-flex justify-content-between" data-bs-toggle="collapse"
                        data-bs-target="#subcategory-group-<%= category._id %>" aria-expanded="false"
                        aria-controls="subcategory-group-<%= category._id %>" style="cursor: pointer;">
                        <!-- Category Checkbox -->
                        <div class="form-check">
                          <input type="checkbox" class="form-check-input" id="category-<%= category._id %>"
                            value="<%= category.slug %>" name="category">
                          <label class="form-check-label" for="category-<%= category._id %>">
                            <%= category.name %>
                          </label>
                        </div>
                        <!-- Subcategory Arrow -->
                        <% if (category?.subCategories?.length> 0) { %>
                          <i class="bi bi-chevron-down"></i>
                          <% } %>
                      </div>

                      <!-- Subcategories -->
                      <% if (category?.subCategories?.length> 0) { %>
                        <div id="subcategory-group-<%= category._id %>" class="collapse ms-3">
                          <% category.subCategories.forEach(subCategory=> { %>
                            <div class="form-check">
                              <input type="checkbox" class="form-check-input" id="subCategory-<%= subCategory._id %>"
                                value="<%= subCategory.slug %>" name="subcategory">
                              <label class="form-check-label" for="subCategory-<%= subCategory._id %>">
                                <%= subCategory.name %>
                              </label>
                            </div>
                            <% }) %>
                        </div>
                        <% } %>
                    </div>
                    <% }) %>
                </div>
              </div>

              <!-- Filter by Price -->
              <div class="price-filter mb-20 border-bottom">
                <div class="d-flex justify-content-between" data-bs-toggle="collapse"
                  data-bs-target="#price-checkbox-group" aria-expanded="false" aria-controls="price-checkbox-group"
                  style="cursor: pointer;">
                  <label class="form-label" for="price-filter">
                    Price
                  </label>
                  <i class="bi bi-chevron-down"></i>
                </div>
                <div id="price-checkbox-group" class="collapse">
                  <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="under-100" value="under-100" name="price">
                    <label class="form-check-label" for="under-100">Under 100</label>
                  </div>
                  <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="100-200" value="100-200" name="price">
                    <label class="form-check-label" for="100-200">100 - 200</label>
                  </div>
                  <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="200-500" value="200-500" name="price">
                    <label class="form-check-label" for="200-500">200 - 500</label>
                  </div>
                  <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="500-1000" value="500-1000" name="price">
                    <label class="form-check-label" for="500-1000">500 - 1000</label>
                  </div>
                  <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="over-1000" value="over-1000" name="price">
                    <label class="form-check-label" for="over-1000">Over 1000</label>
                  </div>
                </div>
              </div>

              <!-- Filter by Language -->
              <div class="language-filter mb-20 border-bottom">
                <div class="d-flex justify-content-between" data-bs-toggle="collapse"
                  data-bs-target="#language-checkbox-group" aria-expanded="false"
                  aria-controls="language-checkbox-group" style="cursor: pointer;">
                  <label class="form-label" for="language-filter">
                    Language
                  </label>
                  <i class="bi bi-chevron-down"></i>
                </div>
                <div id="language-checkbox-group" class="collapse">
                  <% languages.forEach(language=> { %>
                    <div class="form-check">
                      <input type="checkbox" class="form-check-input" id="<%= language %>" value="<%= language %>"
                        name="language">
                      <label class="form-check-label" for="<%= language %>">
                        <%= language %>
                      </label>
                    </div>
                    <% }) %>
                </div>
              </div>

              <!-- Filter by Authors -->
              <div class="authors-filter mb-20 border-bottom">
                <div class="d-flex justify-content-between" data-bs-toggle="collapse"
                  data-bs-target="#author-checkbox-group" aria-expanded="false" aria-controls="author-checkbox-group"
                  style="cursor: pointer;">
                  <label class="form-label" for="author-filter">
                    Authors
                  </label>
                  <i class="bi bi-chevron-down"></i>
                </div>
                <div id="author-checkbox-group" class="collapse">
                  <% authors.forEach(author=> { %>
                    <div class="form-check">
                      <input type="checkbox" class="form-check-input" id="<%= author %>" value="<%= author %>"
                        name="authors">
                      <label class="form-check-label" for="<%= author %>">
                        <%= author %>
                      </label>
                    </div>
                    <% }) %>
                </div>
              </div>

              <!-- Filter by Publishers -->
              <div class="publishers-filter mb-20 border-bottom">
                <div class="d-flex justify-content-between" data-bs-toggle="collapse"
                  data-bs-target="#publisher-checkbox-group" aria-expanded="false"
                  aria-controls="publisher-checkbox-group" style="cursor: pointer;">
                  <label class="form-label" for="publisher-filter">
                    Publishers
                  </label>
                  <i class="bi bi-chevron-down"></i>
                </div>
                <div id="publisher-checkbox-group" class="collapse">
                  <% publishers.forEach(publisher=> { %>
                    <div class="form-check">
                      <input type="checkbox" class="form-check-input" id="<%= publisher %>" value="<%= publisher %>"
                        name="publisher">
                      <label class="form-check-label" for="<%= publisher %>">
                        <%= publisher %>
                      </label>
                    </div>
                    <% }) %>
                </div>
              </div>

              <button id="apply-filter" type="submit" class="btn btn-sm btn-success">Filter</button>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>
</main>

<script type="module" src="/user/js/utils/user-store.js"></script>
