<header class="header-area header-style-1 header-height-2">
  <div class="header-top header-top-ptb-1 d-none d-lg-block">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-xl-3 col-lg-4">
          <div class="header-info">
            <ul>
              <li>
                <i class="fi-rs-smartphone"></i>
                <a href="#">(+01) - 2345 - 6789</a>
              </li>
              <li>
                <i class="fi-rs-marker"></i><a href="/contact">Our location</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-xl-6 col-lg-4">
          <div class="text-center">
            <div id="news-flash" class="d-inline-block" style="
                overflow: hidden;
                position: relative;
                height: 14px;
              ">
              <ul style="
                  position: absolute;
                  margin: 0px;
                  padding: 0px;
                  top: 0px;
                ">
                <li style="
                    margin: 0px;
                    padding: 0px;
                    height: 14px;
                  ">
                  Trendy 25silver jewelry, save up 35% off
                  today
                  <a href="shop-grid-right.html">Shop now</a>
                </li>
                <li style="
                    margin: 0px;
                    padding: 0px;
                    height: 14px;
                  ">
                  Get great devices up to 50% off
                  <a href="shop-grid-right.html">View details</a>
                </li>
                <li style="
                    margin: 0px;
                    padding: 0px;
                    height: 14px;
                  ">
                  Supper Value Deals - Save more with
                  coupons
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-4">
          <div class="header-info header-info-right">
            <ul>
              <li><i class="fi-rs-world"></i>English</li>
              <li>
                <i class="fi-rs-user"></i>
                <% if (user) { %>
                  <div class="dropdown">
                    <a href="#" class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                      <%= user.username %>
                    </a>
                    <ul class="dropdown-menu">
                      <% if (user.role.name==='ADMIN' ) { %>
                        <li>
                          <a class="dropdown-item" href="/admin/dashboard">
                            Dashboard
                          </a>
                        </li>
                        <% } %>
                          <li>
                            <a class="dropdown-item" href="/api/auth/logout">
                              Sign Out
                            </a>
                          </li>
                    </ul>
                  </div>
                  <% } else { %>
                    <a href="/api/auth/login">Log In </a>
                    <% } %>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="header-middle header-middle-ptb-1 d-none d-lg-block">
    <div class="container">
      <div class="header-wrap">
        <div class="logo logo-width-1">
          <a href="/"><img src="/user/imgs/theme/logo.svg" alt="logo" /></a>
        </div>
        <div class="header-right">
          <div class="search-style-2">
            <!-- Form -->
            <form action="#">
              <input type="text" placeholder="Search for items..." />
            </form>
          </div>
          <div class="header-action-right">
            <div class="header-action-2">
              <div class="header-action-icon-2">
                <a href="/readlist">
                  <img class="svgInject" alt="Evara" src="/user/imgs/theme/icons/icon-heart.svg" />
                  <span class="pro-count blue readlist-count">
                    <%= readlist ? readlist?.books?.length : 0 %>
                  </span>
                </a>
              </div>
              <div class="header-action-icon-2">
                <a class="mini-cart-icon" href="/cart">
                  <img alt="Evara" src="/user/imgs/theme/icons/icon-cart.svg" />
                  <span class="pro-count blue cart-count">
                    <%= cart ? cart?.books?.length : 0 %>
                  </span>
                </a>
                <% if (cart && req.path !=='/cart' && !req.path.startsWith('/book-details') ) { %>
                  <div class="cart-dropdown-wrap cart-dropdown-hm2">
                    <ul>
                      <% cart?.books?.forEach(book=> { %>
                        <li>
                          <div class="shopping-cart-img">
                            <a><img alt="Evara" src="<%= book?.coverImageUrl %>" /></a>
                          </div>
                          <div class="shopping-cart-title">
                            <h4>
                              <a href="/book-details/<%= book?.bookSlug %>">
                                <%= book?.title %>
                              </a>
                            </h4>
                            <h4><span>
                                <%= book?.cartQuantity %> × ₹
                              </span>
                              <%= book?.price %>
                            </h4>
                          </div>
                        </li>
                        <% }) %>
                    </ul>
                    <div class="shopping-cart-footer">
                      <div class="shopping-cart-total">
                        <% const totalPrice=cart?.books?.reduce((total, book)=> {
                          return total + (book.cartQuantity * book.price)
                          }, 0) %>
                          <h4>Total <span>₹
                              <%= totalPrice %>
                            </span></h4>
                      </div>
                      <div class="shopping-cart-button">
                        <a href="/cart" class="outline">View cart</a>
                        <a href="/cart/checkout">Checkout</a>
                      </div>
                    </div>
                  </div>
                  <% } %>
              </div>
              <div class="header-action-icon-2">
                <a href="/profile">
                  <img class="svgInject" alt="Evara" src="/user/imgs/theme/icons/icon-profile.svg" />
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="header-bottom header-bottom-bg-color sticky-bar">
    <div class="container">
      <div class="header-wrap header-space-between position-relative">
        <div class="logo logo-width-1 d-block d-lg-none">
          <a href="/"><img src="/user/imgs/theme/logo.svg" alt="logo"></a>
        </div>
        <div class="header-nav d-none d-lg-flex">
          <div class="main-categori-wrap d-none d-lg-block">
            <a href="/book-store">
              <span class="fi-rs-book-alt"></span> Book Store
            </a>
          </div>
          <div class="main-menu main-menu-padding-1 main-menu-lh-2 d-none d-lg-block">
            <nav>
              <ul>
                <li>
                  <a class="<%= currentPath === '/' ? 'active' : '' %>" href="/">Home</a>
                </li>
                <li>
                  <a class="<%= currentPath === '/about' ? 'active' : '' %>" href="/about">About</a>
                </li>
                <li>
                  <a class="<%= currentPath === '/purchase-guide' ? 'active' : '' %>" href="/purchase-guide">Purchase
                    Guide</a>
                </li>
                <li>
                  <a class="<%= currentPath === '/privacy-policy' ? 'active' : '' %>" href="/privacy-policy">Privacy
                    Policy</a>
                </li>
                <li>
                  <a class="<%= currentPath === '/terms-conditions' ? 'active' : '' %>" href="/terms-conditions">Terms &
                    Conditions</a>
                </li>
                <li>
                  <a class="<%= currentPath === '/contact' ? 'active' : '' %>" href="/contact">Contact</a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
        <div class="header-action-right d-block d-lg-none">
          <div class="header-action-2">
            <div class="header-action-icon-2">
              <a href="/readlist">
                <img alt="Evara" src="/user/imgs/theme/icons/icon-heart.svg">
                <span class="pro-count readlist-count white">
                  <%= readlist ? readlist?.books?.length : 0 %>
                </span>
              </a>
            </div>
            <div class="header-action-icon-2">
              <a class="mini-cart-icon" href="/cart">
                <img alt="Evara" src="/user/imgs/theme/icons/icon-cart.svg">
                <span class="pro-count cart-count white">
                  <%= cart?.books?.length %>
                </span>
              </a>
            </div>
            <div class="header-action-icon-2 d-block d-lg-none">
              <div class="burger-icon burger-icon-white">
                <span class="burger-icon-top"></span>
                <span class="burger-icon-mid"></span>
                <span class="burger-icon-bottom"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="mobile-header-active mobile-header-wrapper-style">
  <div class="mobile-header-wrapper-inner">
    <div class="mobile-header-top">
      <div class="mobile-header-logo">
        <a href="/"><img src="/user/imgs/theme/logo.svg" alt="logo"></a>
      </div>
      <div class="mobile-menu-close close-style-wrap close-style-position-inherit">
        <button class="close-style search-close">
          <i class="icon-top"></i>
          <i class="icon-bottom"></i>
        </button>
      </div>
    </div>
    <div class="mobile-header-content-area">
      <div class="d-flex justify-content-end">
        <div class="d-flex justify-content-center align-items-center" style="height: 28px; width: 28px;">
          <i class="fi-rs-user"></i>
        </div>
        <% if (user) { %>
          <div class="d-flex justify-content-center align-items-center dropdown">
            <a href="#" class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              <%= user.username %>
            </a>
            <ul class="dropdown-menu">
              <% if (user.role.name==='ADMIN' ) { %>
                <li>
                  <a class="dropdown-item" href="/admin/dashboard">
                    Dashboard
                  </a>
                </li>
                <% } %>
                  <li>
                    <a class="dropdown-item" href="/profile">
                      Profile
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="/api/auth/logout">
                      Sign Out
                    </a>
                  </li>
            </ul>
          </div>
          <% } else { %>
            <a href="/api/auth/login">Log In </a>
            <% } %>
      </div>
      <div class="mobile-search search-style-3 mobile-header-border">
        <form>
          <input type="text" placeholder="Search for items…">
          <button type="submit"><i class="fi-rs-search"></i></button>
        </form>
      </div>
      <div class="mobile-menu-wrap mobile-header-border">
        <div class="main-categori-wrap mobile-header-border">
          <a class="pt-20 pb-20" href="/book-store">
            <span class="fi-rs-book-alt"></span> Book Store
          </a>
        </div>
        <!-- mobile menu start -->
        <nav>
          <ul class="mobile-menu">
            <li>
              <a href="/" class="<%= currentPath === '/' ? 'active' : '' %>">Home</a>
            </li>
            <li>
              <a href="/about" class="<%= currentPath === '/about' ? 'active' : '' %>">About Us</a>
            </li>
            <li>
              <a href="/purchase-guide" class="<%= currentPath === '/purchase-guide' ? 'active' : '' %>">Purchase
                Guide</a>
            </li>
            <li>
              <a href="/privacy-policy" class="<%= currentPath === '/privacy-policy' ? 'active' : '' %>">Privacy
                Policy</a>
            </li>
            <li>
              <a href="/terms-conditions" class="<%= currentPath === '/terms-conditions' ? 'active' : '' %>">Terms &
                Conditions</a>
            </li>
            <li>
              <a href="/contact" class="<%= currentPath === '/contact' ? 'active' : '' %>">Contact Us</a>
            </li>
          </ul>
        </nav>
        <!-- mobile menu end -->
      </div>
      <div class="mobile-header-info-wrap mobile-header-border">
        <div class="single-mobile-header-info mt-30">
          <a href="page-contact.html"> Our location </a>
        </div>
        <div class="single-mobile-header-info">
          <a href="/api/auth/login">Log In / Sign Up </a>
        </div>
        <div class="single-mobile-header-info">
          <a href="#">(+01) - 2345 - 6789 </a>
        </div>
      </div>
      <div class="mobile-social-icon">
        <h5 class="mb-15 text-grey-4">Follow Us</h5>
        <a href="#"><img src="/user/imgs/theme/icons/icon-facebook.svg" alt=""></a>
        <a href="#"><img src="/user/imgs/theme/icons/icon-twitter.svg" alt=""></a>
        <a href="#"><img src="/user/imgs/theme/icons/icon-instagram.svg" alt=""></a>
        <a href="#"><img src="/user/imgs/theme/icons/icon-pinterest.svg" alt=""></a>
        <a href="#"><img src="/user/imgs/theme/icons/icon-youtube.svg" alt=""></a>
      </div>
    </div>
  </div>
</div>
